/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* shared styles here */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

.text-primary {
    color: #e15274;
}

.text-secondary {
    color: #a29a9c;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.bg-primary {
    background-color: #e15274;
}

.bg-secondary {
    background-color: #a29a9c;
}

.btn-primary {
    padding: 10px 15px;
    color: #fff;
    background-color: #e15274;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.w-80 {
    width: 80%;
    margin: 0 10%;
}

.w-50 {
    width: 50%;
}

.mx-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-2 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.px-80 {
    padding-left: 10%;
    padding-right: 10%;
}

.fs-30px {
    font-size: 30px;
}

.text-align-center {
    text-align: center;
}

/* navbar styles here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

li:hover > a {
    background-color: #a29a9c;
}

.brand {
    font-size: 30px;
    font-weight: 800;
}

.links ul {
    display: flex;
}

.links li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}

.btn-sign-in {
    background-color: whitesmoke;
    border: 0;
    border: 1px solid whitesmoke;
    margin-right: 5px;
}

.btn-sign-up {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-sign-in, .btn-sign-up {
    padding: 5px 10px;
    border-radius: 20px;
}

/* banner styles here */
.banner {
    height: 625px;
    background-color: #fceef1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    width: 50%;
}

.banner-title {
    font-size: 45px;
    font-weight: 700;
}

.banner-img {
    margin-top: 75px;
    height: 550px;
    bottom: 0;
}

/* featured flowers styles here */
.featured {
    margin-top: 50px;
}

.featured-header {
    text-align: center;
}

.featured-description {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.flowers {
    display: flex;
    justify-content: space-between;
}

.flower {
    width: 32%;
}

.flower-container {
    /* border: 1px solid pink; */
    border-radius: 50% 50% 0 0;
    height: 350px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-1 {
    background-color: #f0dde7;
}

.fc-2 {
    background-color: #daeff0;
}

.fc-3 {
    background-color: #e3ebdc;
}

.fc-1, .fc-3 {
    align-items: flex-end;
}

.fc-2 img {
    margin-top: 35px;
}

.flower-container img {
    height: 85%;
}

.flower-title {
    display: block;
    text-decoration: underline;
}

/* services part syles here */
.services {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 35px;
}

.services-items img {
    width: 65px;
}

.services-items h4 {
    font-weight: 600;
}

/* hot deal styles here */
.hot-deal {
    display: flex;
    justify-content: space-around;
    height: 385px;
    background-color: #fdf6f8;
}

.hot-deal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hot-deal-flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-deal-flower {
    height: 80%;
}

/* instagram styles here */
.instagram-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    max-width: 24%;
}

/* subscribe style here */
.subscribe {
    height: 350px;
    background-image: url('../assets/images/flower-subscribe-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 200px;
    border: 0;
    border-radius: 5px;
}

.mail-container button {
    border: 0;
}

/* extra section style here */
.review{
    background-color: #fceef1;
    padding: 20px 0;
}

.review input[type=text], .review input[type=email] {
    width: 784px;
}

.review input[type=text], .review input[type=email], .review textarea {
    background-color: transparent;
    padding: 5px;
    border: 1px solid rgb(163, 162, 162);
}

.input-instruction {
    padding-right: 15px;
}

/* footer styles here */
.footer {
    background-color: black;
    height: 250px;
    display: flex;
    align-items: center;
}

.footer div {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}