/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* shared styles here */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
}

.text-primary {
    color: #e15274;
}

.text-secondary {
    color: #a29a9c;
}

.text-white {
    color: #fff;
}

.btn-primary {
    padding: 10px 15px;
    color: #fff;
    background-color: #e15274;
    border: 0;
    border-radius: 5px;
}

.w-80 {
    width: 80vw;
    margin: 0 10vw;
}

.w-50 {
    width: 50%;
}

.mx-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-2 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.px-80 {
    padding-left: 10vw;
    padding-right: 10vw;
}

.fs-30px {
    font-size: 30px;
}

.text-align-center {
    text-align: center;
}

/* banner styles here */
.header {
    height: 85vh;
    background-color: #fceef1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    width: 50%;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
}

.header-img {
    margin-top: 10vh;
    height: 75vh;
    bottom: 0;
}

/* featured flowers styles here */
.featured {
    margin-top: 50px;
}

.featured-header {
    text-align: center;
}


.featured-description {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* optional part syles here */
.optional {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.optional-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 35px;
}

.optional-items img {
    width: 65px;
}

.optional-items h4 {
    font-weight: 600;
}

/* hot deal styles here */
.hot-deal {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    background-color: #fdf6f8;
}

.hot-deal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hot-deal-flower-container {
    display: flex;
    justify-content: center;
}

.hot-deal-flower {
    height: 100%;
}

/* footer styles here */
.footer {
    background-color: black;
    height: 250px;
    display: flex;
    align-items: center;
}

.footer div {
    width: 30vw;
    margin: 0 auto;
    text-align: center;
}